@model ModalEF.EF.BaiDang

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>BaiDang</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AnhDinhKem.AnhBia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AnhDinhKem.AnhBia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DanhMuc.TenDanhMuc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DanhMuc.TenDanhMuc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaiKhoan.MaSinhVien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaiKhoan.MaSinhVien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrangThaiBaiDang.TenTrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrangThaiBaiDang.TenTrangThai)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TieuDe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TieuDe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NoiDung)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NoiDung)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayTao)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayTao)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayDuyet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayDuyet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrangThaiDuyet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrangThaiDuyet)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaBaiDang }) |
    @Html.ActionLink("Back to List", "Index")
</p>
