@model IEnumerable<ModalEF.EF.BaiDang>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AnhDinhKem.AnhBia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DanhMuc.TenDanhMuc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TaiKhoan.MaSinhVien)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrangThaiBaiDang.TenTrangThai)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TieuDe)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NoiDung)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayTao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NgayDuyet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TrangThaiDuyet)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AnhDinhKem.AnhBia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DanhMuc.TenDanhMuc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TaiKhoan.MaSinhVien)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrangThaiBaiDang.TenTrangThai)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TieuDe)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoiDung)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayTao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NgayDuyet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TrangThaiDuyet)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.MaBaiDang }) |
            @Html.ActionLink("Details", "Details", new { id=item.MaBaiDang }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.MaBaiDang })
        </td>
    </tr>
}

</table>
