@model ModalEF.EF.DangKyNhanLai

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DangKyNhanLai</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.BaiDang.TieuDe)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaiDang.TieuDe)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TaiKhoan.MaSinhVien)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TaiKhoan.MaSinhVien)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoiNhan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoiNhan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NgayDangKyNhan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NgayDangKyNhan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TrangThai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TrangThai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaDangKyNhan }) |
    @Html.ActionLink("Back to List", "Index")
</p>
