@model PagedList.IPagedList<ModalEF.EF.BaiDang>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Bài đăng";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container py-5">
    <div class="row">
        <div class="col-lg-3">
            <h1 class="h2 pb-4">Danh mục</h1>
            <ul class="list-unstyled templatemo-accordion">
                <li class="pb-3">
                    <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                        Đồ điện tử
                        <i class="fa fa-fw fa-chevron-circle-right mt-1"></i>
                    </a>
                </li>
                <li class="pb-3">
                    <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                        Sách vở
                        <i class="pull-right fa fa-fw fa-chevron-circle-right mt-1"></i>
                    </a>
                </li>
                <li class="pb-3">
                    <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                        Quần áo
                        <i class="pull-right fa fa-fw fa-chevron-circle-right mt-1"></i>
                    </a>
                </li>
                <li class="pb-3">
                    <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                        Thú cưng
                        <i class="pull-right fa fa-fw fa-chevron-circle-right mt-1"></i>
                    </a>
                </li>
                <li class="pb-3">
                    <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                        Thẻ giữ xe
                        <i class="pull-right fa fa-fw fa-chevron-circle-right mt-1"></i>
                    </a>
                </li>
                <li class="pb-3">
                    <a class="collapsed d-flex justify-content-between h3 text-decoration-none" href="#">
                        Đồ dùng cá nhân
                        <i class="pull-right fa fa-fw fa-chevron-circle-right mt-1"></i>
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-lg-9">
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-inline shop-top-menu pb-3 pt-1">
                        <li class="list-inline-item">
                            <a class="h3 text-dark text-decoration-none mr-3" href="#">Tất cả</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="h3 text-dark text-decoration-none mr-3" href="#">Tìm đồ</a>
                        </li>
                        <li class="list-inline-item">
                            <a class="h3 text-dark text-decoration-none" href="#">Nhặt được đồ</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6">
                    <div>
                        <label for="sel1">Sắp xếp theo:</label>
                        <select id="sel1">
                            <option>Mới nhất</option>
                            <option>Cũ nhất</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                @foreach (var item in Model)
                {
                    <div class="col-md-4 mb-4">
                        <div class="card mb-4 product-wap rounded-0 h-100">
                            <div class="card rounded-0 p-2">
                                <img class="card-img rounded-0 img-fluid" src="~/FileUpload/@item.AnhDinhKem.AnhBia">
                                <div class="card-img-overlay rounded-0 product-overlay d-flex align-items-center justify-content-center">
                                    <ul class="list-unstyled">
                                        <li><a class="btn btn-success text-white" href="/BaiDangs/Details/@item.MaBaiDang"><i class="far fa-heart"></i></a></li>
                                        <li><a class="btn btn-success text-white mt-2" href="/BaiDangs/Details/@item.MaBaiDang"><i class="far fa-eye"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="card-body">
                                <a href="/BaiDangs/Details/@item.MaBaiDang" class="h3 text-decoration-none"><h5>@item.TieuDe</h5></a>
                                <ul class="w-100 list-unstyled d-flex justify-content-between mb-0">
                                    <li><small style="color: #59ab6e">Danh mục: @item.DanhMuc.TenDanhMuc</small></li>
                                </ul>
                                <ul class="w-200 list-unstyled d-flex justify-content-between mb-0">
                                    <li><small style="color: #59ab6e">Người đăng: @item.TaiKhoan.Ten</small></li>
                                </ul>
                                <p class="mb-0 mt-2" style="color: gray">@item.NoiDung</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
            <div div="row">
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, @searchString = @ViewBag.SearchString }))
            </div>
        </div>

    </div>
</div>

