<!DOCTYPE html>
<html lang="en">

<head>
    <title>@ViewBag.Title - Tìm đồ thất lạc</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" href="assets/img/apple-icon.png">
    <link rel="shortcut icon" type="image/x-icon" href="~/Assets/img/favicon1.ico">

    <link rel="stylesheet" href="~/Assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Assets/css/templatemo.css">
    <link rel="stylesheet" href="~/Assets/css/custom.css">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;200;300;400;500;700;900&display=swap">
    <link rel="stylesheet" href="~/Assets/css/fontawesome.min.css">
    <link href="~/Content/PagedList.css" rel="stylesheet" />
</head>

<body>

    <nav class="navbar navbar-expand-lg bg-dark navbar-light d-none d-lg-block" id="templatemo_nav_top">
        <div class="container text-light">
            <div class="w-100 d-flex justify-content-between">
                <div>
                    <i class="fa fa-envelope mx-2"></i>
                    <a class="navbar-sm-brand text-light text-decoration-none" href="https://www.facebook.com/LeHuy79999">admin@timdothatlac.vn</a>
                    <i class="fa fa-phone mx-2"></i>
                    <a class="navbar-sm-brand text-light text-decoration-none" href="tel:010-020-0340">0786 006 726</a>
                </div>
                <div>
                    <a class="text-light" href="https://fb.com/templatemo" target="_blank" rel="sponsored"><i class="fab fa-facebook-f fa-sm fa-fw me-2"></i></a>
                    <a class="text-light" href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram fa-sm fa-fw me-2"></i></a>
                    <a class="text-light" href="https://twitter.com/" target="_blank"><i class="fab fa-twitter fa-sm fa-fw me-2"></i></a>
                    <a class="text-light" href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin fa-sm fa-fw"></i></a>
                </div>
            </div>
        </div>
    </nav>

    <nav class="navbar navbar-expand-lg navbar-light shadow">
        <div class="container d-flex justify-content-between align-items-center">

            <a class="navbar-brand text-success logo h1 align-self-center" href="@Url.Action("Index", "Home")">
                Timdothatlac.vn
            </a>

            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="align-self-center collapse navbar-collapse flex-fill  d-lg-flex justify-content-lg-between" id="templatemo_main_nav">
                <div class="flex-fill">
                    <ul class="nav navbar-nav d-flex justify-content-between mx-lg-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Index", "BaiDangs")">Tìm đồ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("Contact", "Home")">Liên hệ</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="@Url.Action("About", "Home")">Về chúng tôi</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-warning" href="@Url.Action("Create", "BaiDangs")"><i class="fa fa-fw fa-edit mr-4"></i>Đăng bài</a>
                        </li>
                    </ul>
                </div>
                <div class="navbar align-self-center d-flex">
                    @{
                        var session = (timdothatlac.Common.LoginUserSession)Session[timdothatlac.Common.Constant.USER_SESSION];
                        if (session != null)
                        {
                            <a class="nav-icon position-relative text-decoration-none" href="@Url.Action("Index", "TaiKhoans", new { id = session.MaUser})">
                                <small>@session.TenUser</small>
                                <i class="fa fa-fw fa-user text-dark mr-3"></i>
                            </a>
                            @Html.ActionLink("Đăng xuất", "Logout", "Login", new { @style = "color:#ff0000" })
                        }
                        else
                        {
                            <a class="nav-icon position-relative text-decoration-none" href="@Url.Action("Index", "Login")">
                                <span><small>Đăng nhập</small></span>
                                <i class="fa fa-fw fa-user text-dark mr-3"></i>
                            </a>
                        }
                    }
                </div>
            </div>
        </div>
    </nav>

    @RenderBody()

    <footer class="bg-dark" id="tempaltemo_footer">
        <div class="container">
            <div class="row">

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-success border-bottom pb-3 border-light logo">Timdothatlac.vn</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li>
                            <i class="fas fa-map-marker-alt fa-fw"></i>
                            48 Cao Thắng
                        </li>
                        <li>
                            <i class="fa fa-phone fa-fw"></i>
                            <a class="text-decoration-none" href="">0343 599 589</a>
                        </li>
                        <li>
                            <i class="fa fa-envelope fa-fw"></i>
                            <a class="text-decoration-none" href="mailto:info@company.com">admin@timdothatlac.vn</a>
                        </li>
                    </ul>
                </div>

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-light border-bottom pb-3 border-light">Danh mục</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li><a class="text-decoration-none" href="#">Đồ điện tử</a></li>
                        <li><a class="text-decoration-none" href="#">Sách vở</a></li>
                        <li><a class="text-decoration-none" href="#">Quần áo</a></li>
                        <li><a class="text-decoration-none" href="#">Thú cưng</a></li>
                        <li><a class="text-decoration-none" href="#">Thẻ giữ xe</a></li>
                        <li><a class="text-decoration-none" href="#">Đồ dùng cá nhân</a></li>
                    </ul>
                </div>

                <div class="col-md-4 pt-5">
                    <h2 class="h2 text-light border-bottom pb-3 border-light">Thông tin thêm</h2>
                    <ul class="list-unstyled text-light footer-link-list">
                        <li><a class="text-decoration-none" href="#">Về chúng tôi</a></li>
                        <li><a class="text-decoration-none" href="#">Chính sách bảo mật</a></li>
                        <li><a class="text-decoration-none" href="#">Hướng dẫn sử dụng</a></li>
                        <li><a class="text-decoration-none" href="#">Liên hệ quảng cáo</a></li>
                    </ul>
                </div>

            </div>

            <div class="row text-light mb-4">
                <div class="col-12 mb-3">
                    <div class="w-100 my-3 border-top border-light"></div>
                </div>
                <div class="col-auto me-auto">
                    <ul class="list-inline text-left footer-icons">
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="http://facebook.com/"><i class="fab fa-facebook-f fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://www.instagram.com/"><i class="fab fa-instagram fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://twitter.com/"><i class="fab fa-twitter fa-lg fa-fw"></i></a>
                        </li>
                        <li class="list-inline-item border border-light rounded-circle text-center">
                            <a class="text-light text-decoration-none" target="_blank" href="https://www.linkedin.com/"><i class="fab fa-linkedin fa-lg fa-fw"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="col-auto">
                    <label class="sr-only" for="subscribeEmail">Email address</label>
                    <div class="input-group mb-2">
                        <input type="text" class="form-control bg-dark border-light" id="subscribeEmail" placeholder="Địa chỉ Email">
                        <div class="input-group-text btn-success text-light">Đăng ký</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="w-100 bg-black py-3">
            <div class="container">
                <div class="row pt-2">
                    <div class="col-12">
                        <p class="text-left text-light">
                            Copyright &copy; 2022 HL MEDIA
                            | Designed by <a rel="sponsored" href="https://www.facebook.com/LeHuy79999" target="_blank">DoLeHuy</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </footer>

    <script src="~/Assets/js/jquery-1.11.0.min.js"></script>
    <script src="~/Assets/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="~/Assets/js/bootstrap.bundle.min.js"></script>
    <script src="~/Assets/js/templatemo.js"></script>
    <script src="~/Assets/js/custom.js"></script>

</body>
</html>